name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [main] # branch to trigger deployment
  workflow_dispatch:

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
    - name: Install Furo theme
      run: pip install furo
    - name: pip install parser
      run: pip install myst_parser "Sphinx>=7,<9"
    - name: Build documentation
      run: cd docs && sphinx-build -b html -a -E -v . _build/html
    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/_build/html
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
